# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.local

# OS
.DS_Store

# IDE 
.vscode/
.idea/

# Logs 
*.log

# Docker 
*.pid

# Build Artifacts 
dist/
build/
*.egg-info/

# Secrets 
.env
.env.*
